* {
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    background-color: #6c5b7b;
  }
  
  p, h1, body {
    margin: 0;
  }
  
  .image-container, .card-title {
    display: flex;
    justify-content: center;
  }
  
  .profile-title {
    margin-top: 12px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .profile {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .separator.vertical {
    width: 1px;
    background-color: #fff;
    height: 20px;
    margin: 0 8px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user-info .user-name {
    margin-bottom: 4px;
    font-size: 32px;
    text-transform: uppercase;
  }
  .user-info .user-subinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 240px;
  }
  
  .image-container {
    margin: 24px 0;
  }
  .image-container .avatar {
    background-color: black;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    border-width: 4px;
    border-color: #000;
  }
  
  .info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
    margin: 24px 0;
    width: 100%;
    background-color: #574a64;
  }
  .info-container .info {
    padding: 8px 0;
    margin: 0 auto;
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .info-container .info .title {
    text-transform: uppercase;
  }
  
  .share-btn {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    padding: 16px;
    bottom: 32px;
    right: 32px;
    background: #f44336;
    display: inline-flex;
    vertical-align: middle;
  }
  
  @media all and (min-width: 555px) {
    .profile {
      height: 100vh;
      max-width: 700px;
    }
  
    .profile-container {
      align-items: center;
      flex-direction: row;
      height: 100%;
    }
    .profile-container .user {
      padding: 32px 0 32px 0;
      margin: 16px;
      align-items: center;
    }
    .profile-container .info-container {
      margin: 16px 48px 48px 16px;
      padding: 32px 0 32px 0;
      position: relative;
      max-height: 450px;
    }
  
    .share-btn {
      bottom: -28px;
      right: -28px;
    }
  }